<!doctype html>
<html lang="en-us"></html>
<html>
<head>
    <%= require('html-loader!./html/metadata.html') %>
    <link href="/shared/css/unify/unify-fonts-relative.css">
    <!-- <link href="/shared/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
</head>
<body data-content-byline="Milwaukee Journal Sentinel" data-content-cst="" data-content-ssts="">
    <script src="/shared/header/v5/header.js"></script>
    <div class="beernear--container"></div>
    <%= require('html-loader!./html/analytics.html') %>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>