$green: #00865F;
$lightgreen: #00AD83;

.BeerNear {

    .pointer:hover {
        cursor: pointer;
    }

    .beernear--filters {
        width: 25%;
        float: left;
        overflow-y: auto;

        .beernear--filter {
            margin-bottom: 20px;

            svg {
                width: 100%;
                height: auto;

                .filter--region:hover {
                    fill: $lightgreen;
                }
                .region--selected {
                    fill: $green;
                }
            }
            .filter--title {
                margin: 0;
                padding: 0;
                font-size: 16px;
                text-align: center;
                text-transform: uppercase;
            }

            .beernear--dropdown {
                width: 100%;
                height: 40px;
                margin: 0;
                padding: 0;
                outline: none;
                vertical-align: middle;
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                color: #000;
                background: #e8eeef;
                border: 1px solid #000;
            }
            .beernear--label {
                display: block;
                margin:0 0 10px 0;
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
            }
            .beernear--checkbox {
                margin: 0;
                padding:0 6px 0 0;
                -webkit-appearance: none;
                -moz-appearance: none;
                outline: none;
                background: #fff;
            }
            .beernear--checkbox:before {
                position: relative;
                top: 2px;
                padding-right: 3px;
                content: "\f096";
                font-family: FontAwesome;
                font-size: 22px;
                background: #fff;
            }
            .beernear--checkbox:checked:before {
                padding-right: 0;
                content: "\f046";
            }
        }
    }

    .beerneer--breweries {
        width: 73%;
        float: right;
        overflow-y: auto;

        .beernear--brewery {
            margin-top: 20px;
            border: 1px solid #000;
            box-shadow: 5px 5px 5px #ccc;
            overflow-y: auto;

            .brewery--inner {
                margin: 10px;

                .brewery--name {
                    width: 100%;
                    margin:0;
                    padding:0 0 5px 0;
                    font-size: 16px;
                    color: #444;
                    font-size: 30px;
                    line-height: 1.3;
                    border-bottom: 2px solid #000;
                }
                .brewery--logo {
                    float: left;
                    width: 15%;
                    min-height: 1px;

                    .brewery--image {
                        width: 100%;
                        margin: 10% 0;
                        height: auto;
                    }
                }
                .brewery--details {
                    float: left;
                    width: 35%;
                }
                .brewery--description {
                    float: left;
                    width: 50%;
                }
                .brewery--item {
                    margin: 15px 10px 0 10px;

                    .brewery--link {
                        color: inherit;
                        text-decoration: none;
                    }
                    .brewery--link:hover {
                        color: #264896;
                        text-decoration: underline;
                    }
                    .brewery--features {
                        margin: 0;
                        padding: 0 0 0 20px;
                    }
                }
                .brewery--item:last-child {
                    margin-bottom: 15px;
                }
            }
        }
        .beernear--brewery:first-child {
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 800px) {
    .BeerNear {
        font-size: 14px;

        .beernear--filters {
            width: 100%;
            float: none;
            overflow-y: auto;

            .filter--left {
                width: 40%;
                float: left;

            }
            .filter--right {
                width: 40%;
                float: right;
                margin-top: 60px;
            }
            .beernear--filter {
                .beernear--dropdown {
                    font-size: 14px;
                    height: 30px;
                }
                .beernear--label,
                .filter--title {
                    font-size: 14px;
                }
                .beernear--checkbox:before {
                    top: 1px;
                    font-size: 18px;
                }
            }
        }
        .beerneer--breweries {
            width: 100%;
            float: none;
        }
    }
}

@media screen and (max-width: 560px) {
    .BeerNear {
        .beernear--filters {
            .filter--left {
                width: 50%;
            }
            .filter--right {
                width: 48%;
                margin-top: 30px;
            }
        }
    }
}
